/.idea/
Desktop.iml
/out/production/Desktop/CustomScanner.class
/out/production/Desktop/HelloWorld.class
/out/production/Desktop/InkrementacjaDekrementacja.class
/out/production/Desktop/OperatoryMatematyczne.class
/out/production/Desktop/TypyObiektoweRef.class
/out/production/Desktop/TypyProsteRef.class
/out/production/Desktop/Zmienne.class
